.batch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.batch-column {
    color: #041232;
    width: 150px;
    background: #ebf5f7;
    border: 1px solid #ccc;
    text-align: center;
}

.batch-header {
    font-weight: bold;
    background: #b5d5dd;
    padding: 8px;
}

.barcode {
    padding: 8px;
    font-size: 14px;
}

.barcode.used {
    text-decoration: line-through;
}
