@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

:root {
    /* blue */
    --batch-type-prepayed-color-light: #ebf5f7;
    --batch-type-prepayed-color: #b5d5dd;

    /* white */
    --batch-type-float-color-light: #FFFFFF;
    --batch-type-float-color: #FFFFFF;

    /* blue */
    --batch-type-plasmid-amplicon-color-light: #E4F3F9;
    --batch-type-plasmid-amplicon-color: #CAEDFB;

    /* red */
    --batch-type-genome-color-light: #FFF0F0;
    --batch-type-genome-color: #FFCCCC;

    /* orange */
    --batch-type-sanger-premixed-color-light: #FFF6F2;
    --batch-type-sanger-premixed-color: #FBE2D5;

    /* orange, same as sanger premixed */
    --batch-type-sanger-premium-color-light: #FFF6F2;
    --batch-type-sanger-premium-color: #FBE2D5;

    /* green */
    --batch-type-meta-16s-color-light: #EEF7EB;
    --batch-type-meta-16s-color: #DAF2D0;

    /* ? */
    --batch-type-specific-project-color-light: #F4E9F3;
    --batch-type-specific-project-color: #F2CEEF;
}

.batch-id-title {
    margin-bottom: 10px;
}

.batch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: flex-start;
}

.batch-column {
    color: #041232;
    background: #ebf5f7;
    border: 1px solid #ccc;
    text-align: center;
}

.batch-column > .barcode-container:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.batch-header {
    font-weight: bold;
    background: #b5d5dd;
    padding: 16px;
}

.barcode {
    font-family: Consolas, Menlo, Monaco, DejaVu Sans Mono, Courier New, monospace;
    padding: 0 16px 8px 16px;
    padding-bottom: 8px;
    font-size: 14px;
    letter-spacing: 5px;
}

.barcode-code {
    font-family: 'Libre Barcode 128', cursive;
    padding: 8px 16px 0 16px;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
}

.barcode.used, .barcode-code.used {
    text-decoration: line-through;
    color: #8b8b8b;
}

/* Batch add */
.batch-add {
    margin-bottom: 30px;
}

.batch-add > form {
    display: flex;
    align-items: center;
    gap: 16px;
}

.batch-add .batch-id-input {
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #bad2d8;
    border-radius: 8px;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.batch-add .batch-id-input:focus {
    border-color: #18798f;
}

.batch-message.error {
    color: #da0f0f;
}

.batch-message.success {
    margin-top: 16px;
    color: green;
    border-left: 2px solid green;
    padding-left: 16px;
}

/* Batch search */
.batch-filter-container {
    display: flex;
    gap: 16px;
    height: 50px;
    margin-bottom: 16px;
}

.batch-search {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #bad2d8;
    border-radius: 8px;
    padding: 5px 10px;
}

.batch-search:focus-within {
    border-color: #18798f;
}

.batch-search .dashicons {
    font-size: 20px;
    color: #555;
    margin-right: 8px;
}

#batch-search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background: transparent;
    width: 100%;
}

#batch-search-input:focus {
    border-color: #18798f;
}

#batch-search-input::placeholder {
    color: #aaa;
}

.batch-filter-type {
    max-width: 300px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #bad2d8;
}

.batch-filter-type:focus {
    border-color: #18798f;
}

/* Batch type color */
.batch-container > .batch-column.batch-type-prepayed {
    background-color: var(--batch-type-prepayed-color-light);
}
.batch-container > .batch-column.batch-type-prepayed > .batch-header {
    background-color: var(--batch-type-prepayed-color);
}
.batch-container > .batch-column.batch-type-float {
    background-color: var(--batch-type-float-color-light);
}
.batch-container > .batch-column.batch-type-float > .batch-header {
    background-color: var(--batch-type-float-color);
}
.batch-container > .batch-column.batch-type-unknown {
    background-color: var(--batch-type-float-color-light);
}
.batch-container > .batch-column.batch-type-unknown > .batch-header {
    background-color: var(--batch-type-float-color);
}
.batch-container > .batch-column.batch-type-plasmid-amplicon {
    background-color: var(--batch-type-plasmid-amplicon-color-light);
}
.batch-container > .batch-column.batch-type-plasmid-amplicon > .batch-header {
    background-color: var(--batch-type-plasmid-amplicon-color);
}
.batch-container > .batch-column.batch-type-genome {
    background-color: var(--batch-type-genome-color-light);
}
.batch-container > .batch-column.batch-type-genome > .batch-header {
    background-color: var(--batch-type-genome-color);
}
.batch-container > .batch-column.batch-type-sanger-premixed {
    background-color: var(--batch-type-sanger-premixed-color-light);
}
.batch-container > .batch-column.batch-type-sanger-premixed > .batch-header {
    background-color: var(--batch-type-sanger-premixed-color);
}
.batch-container > .batch-column.batch-type-sanger-premium {
    background-color: var(--batch-type-sanger-premium-color-light);
}
.batch-container > .batch-column.batch-type-sanger-premium > .batch-header {
    background-color: var(--batch-type-sanger-premium-color);
}
.batch-container > .batch-column.batch-type-meta-16s {
    background-color: var(--batch-type-meta-16s-color-light);
}
.batch-container > .batch-column.batch-type-meta-16s > .batch-header {
    background-color: var(--batch-type-meta-16s-color);
}
.batch-container > .batch-column.batch-type-specific-project {
    background-color: var(--batch-type-specific-project-color-light);
}
.batch-container > .batch-column.batch-type-specific-project > .batch-header {
    background-color: var(--batch-type-specific-project-color);
}

/* Responsive */

@media screen and (max-width: 640px) {
    .batch-container {
        justify-content: center;
    }

    .batch-add form {
        flex-direction: column;
    }

    .batch-filter-container {
        flex-direction: column;
        align-items: center;
    }
}
